<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{categoury.name}}" ng-repeat="categoury in vm.menu">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">{{categoury.name}}</h1>
                                <div class="well">
                                    <div class="text-right" ng-if="vm.role === vm.admin">
                                        <md-button ng-if="!vm.showAddItemForm" class="md-raised md-primary" ng-click="vm.addItem()">Add Item</md-button>
                                    </div>

                                    <md-card ng-if="vm.showAddItemForm" md-theme="default" md-theme-watch>
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">Add New Item</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Name*</label>
                                                <input ng-model="vm.newItem.name">
                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Price*</label>
                                                <input ng-model="vm.newItem.price">
                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Description</label>
                                                <input ng-model="vm.newItem.description">
                                            </md-input-container>
                                        </md-card-content>
                                        <md-card-actions layout="row" layout-align="end center">
                                            <md-button class="md-raised" ng-disabled="!vm.newItem.name || !vm.newItem.price" ng-click="vm.saveItem(vm.newItem, categoury)">Save</md-button>
                                            <md-button class="md-raised md-warn" ng-click="vm.cancel()">Cancel</md-button>
                                        </md-card-actions>
                                    </md-card>

                                    <div ng-repeat="item in categoury.items">
                                        <md-list-item class="md-3-line" ng-click="null" ng-if="!item.showEditItemForm">
                                            <img src="assets/images/butcerburger.jpg" class="md-avatar" alt="{{item.who}}" />
                                            <div class="md-list-item-text" layout="column">
                                                <h3 class="item-name">{{ item.name }}</h3>
                                                <h4 ng-if="item.price" class="item-price">{{ item.price }} EGP</h4>
                                                <p ng-if="item.description">{{ item.description }}</p>
                                            </div>
                                            <md-button ng-if="vm.role === vm.admin" class="md-raised md-primary" ng-click="vm.editItem(item)" aria-label="call">Edit</md-button>
                                        </md-list-item>
                                        <md-card ng-if="item.showEditItemForm" md-theme="default" md-theme-watch>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Edit Item</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Name*</label>
                                                    <input ng-model="item.name">
                                                </md-input-container>

                                                <md-input-container class="md-block">
                                                    <label>Price*</label>
                                                    <input ng-model="item.price">
                                                </md-input-container>

                                                <md-input-container class="md-block">
                                                    <label>Description</label>
                                                    <input ng-model="item.description">
                                                </md-input-container>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button class="md-raised" ng-disabled="!item.name || !item.price" ng-click="vm.doneEdit(item)">Save</md-button>
                                                <md-button class="md-raised md-warn" ng-click="vm.cancelEdit(item)">Cancel</md-button>
                                            </md-card-actions>
                                        </md-card>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>