<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default login">
                <div class="panel-body">
                    <div ng-if="vm.undefinedUser">Please enter correct username</div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Username</label>
                        <input ng-model="vm.user.username">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input ng-model="vm.user.password">
                    </md-input-container>

                    <md-button class="md-raised" ng-click="vm.login(vm.user.username)">login</md-button>
                </div>
            </div>
        </div>
    </div>
</div>